@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.countdown-page {
  min-height: 100vh;
  background-color: $bg-body;
  
  .temp-content {
    @include flex-center;
    flex-direction: column;
    padding: 120rpx 32rpx;
    
    .title {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $primary;
      margin-bottom: 16rpx;
    }
    
    .subtitle {
      font-size: $font-size-base;
      color: $text-sub;
    }
  }
}
