@import '@/styles/variables.scss';

.calendar-page {
  min-height: 100vh;
  background-color: $bg-body;
  padding-top: 24rpx;
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;
}